@media (max-width: 768px) {
    .navbar-links{
        display: none;
    }
    .navbar-links{
        width: 100%;
    }
    .nav-ul{
        flex-direction: column;
    }
    .navul{
        text-align: center;
    }
    .toggle-burger{
        display: block;
    }
    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links.active{
        display: block;
    }
    
}

